{% extends "layout.html" %}
{% block conteudo %}
<p>Dados que chegaram: {{ itens }}</p>
<!-- Banner -->
<section class="banner">
  <div class="banner__content">
    <h1 class="banner__title">
      Code & <span class="banner__title--highlight">Flavor</span>
    </h1>
    <p class="banner__subtitle">
      O melhor hambúrguer da cidade compilado para você.
    </p>
  </div>
</section>

<!-- Escolha Rápida  -->
<section class="categories">
  <div class="categories__container">
    <h2 class="categories__title">Escolha Rápida</h2>

    <div class="categories__list">

      {% for item in itens %}
      <div class="category-item">
        <img src="{{item.foto}}" alt="Lanche" class="category-item__img" />
        <a href="/pagina2/{{item.codigo}}" class="button button--small">EU QUERO</a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<!-- Produtos do Menu -->
<section class="products" id="menu">
  <div class="products__container">
    <h2 class="products__title">Nossos Destaques</h2>

    <div class="products__grid">
      {% for item in itens %}
      {% if item.destaque %}
      <article class="card" id="lanche-1">
        <div class="card__image-wrapper">
          <img src="{{item.foto}}" alt="{{item.produto}}" class="card__image" />
        </div>
        <div class="card__body">
          <h3 class="card__title">{{item.produto}}</h3>
          <p class="card__description">
            {{item.descricao}}
          </p>
          <div class="card__footer">
            <span class="card__price">R$ {{item.preco}}</span>
            <button class="button button--small">Comprar</button>
          </div>
        </div>
      </article>
      {% endif %}
      {% endfor %}
    </div>

    <div style="text-align: center; margin-top: 40px">
      <a href="#menu" class="button button--primary">Voltar para Destaques</a>
    </div>
  </div>
</section>
{% endblock %}