{% extends "layout.html" %}

{% block css_adicional %}
<link rel="stylesheet" href="../static/css/produtos.css">
{% endblock %}

{% block conteudo %}
<div class="produto-container">
    <div class="produto-card">
        <div>
            <img src="{{ item.foto }}" alt="{{ item.produto }}">
        </div>

        <div class="produto-info">
            <h1>{{ item.produto }}</h1>
            <p>{{ item.descricao }}</p>
            <div class="produto-preco">R$ {{ item.preco }}</div>
            <button class="produto-botao">Comprar agora</button>
        </div>
    </div>
</div>
{% endblock %}